@charset "UTF-8";

body{
    background-color: pink;
    font-family: cursive;
    font-size: 20px;  
    color: rgb(161, 8, 67);
    
}
h1{
    margin-left: 100px;
}
div{
    font-family: cursive;
    font-size: 20px;  
    color: #105605;
    background-color: rgb(135, 218, 135);
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}
input{
    font-size: 20px;
    background-color: rgb(241, 185, 207);
    border-radius: 20px;
    
}
input#soma{
    background-color: rgb(222, 61, 136);
    font-family: cursive;
}
