@charset "UTF-8";

body{
    background-color: #2E073F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;  
    color: #EBD3F8;
}
div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;  
    color: #EBD3F8;
    background-color: green;
    width: 585px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 10px;
}
input{
    font-size: 20px;
    
}