@charset "UTF-8";

body{
    background-color: #d9d36c;
    font-family: fantasy;
    font-size: 20px;
    letter-spacing: 1px;  
    color: #00590a;
}
header{
    margin: auto;
    text-align: center;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    outline: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
    
}

